<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar"></a><a href="/" class="brand">InfoSeq</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a href="/">home</a>
                            </li>
                        </ul>
                    </div>
                    <ul id="user_box" class="nav pull-right"></ul>
                </div>
            </div>
        </div><script id="signup-template" type="text/template">
<form id="submit_form" class='form-horizontal',method='post'>
        <div class="signup-label span5 msg-success hide label label-success">Signed up!</div>
        <div class="signup-label span5 error-bad-auth hide label label-warning">Username and/or password incorrect.</div>
        <div class="signup-label span5 error-unknown hide label label-warning">EXPLAIN_ERROR_HERE</div>
        <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
        <input type="email" id="inputEmail" name="user[email]" placeholder="Email" required>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
        <input type="password" id="inputPassword" name="user[pass]" placeholder="Password" required>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword1">Confirm Password</label>
        <div class="controls">
        <input type="password" id="inputPassword1" name="user[pass1]" placeholder="Confirm Password" required>
        </div>
        </div>

        <div class="control-group">
        <div class="controls">
        <!--
        <label class="checkbox">
        <input type="checkbox"> Remember me
        </label>
        -->
        <button type="submit" class="btn">Sign in</button>
        </div>
        </div>
        </form>
        </script><script id="logged-in-template" type="text/template">
<p class="navbar-text">Welcome, <%= name%>&nbsp;
        <a id="logout" class="btn" href="/logout">Logout</a>
        </p>
        </script><script id="login-template" type="text/template">
<a href="#" data-toggle="dropdown" class="dropdown-toggle"><%- action_name %></a>
        <div class='dropdown-menu'>
        <div class="login-label span4 msg-success hide label label-success">You are now logged in.</div>
        <div class="login-label span4 error-bad-auth hide label label-warning">Username and/or password incorrect.</div>
        <div class="login-label span4 error-unknown hide label label-warning"><%- stateDetails %></div>
        <br class="span4">

        <p id="user-hail" class="navbar-text hide">Welcome!&nbsp;
        <a id="logout2" class="btn" href="/logout">Logout</a>
        </p>

        <form id="login" action="#" method="post">
        <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
        <input type="email" id="inputEmail2" name="email" class="span4" placeholder="Email" value="<%- email %>" required>
        </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
        <input type="password" id="inputPassword2" class="span4" name="password" placeholder="Password" value="<%- password %>" required>
        </div>
        </div>

        <div class="control-group">
        <div class="controls">
        <input type="submit" class="btn" value="Log In">
        </div>
        </div>
        </form>
        </div>
        </script><script id="logged-in-template" type="text/template">
        
        </script>
        <div class="container">
            <div id="login_region"></div>
            <div id="add_group"></div>
            <div id="group_layout"></div>
        </div><script type="text/javascript" src="js/underscore-min.js">
</script><script type="text/javascript" src="js/jquery-2.0.0.min.js">
</script><script type="text/javascript" src="js/json2.js">
</script><script type="text/javascript" src="js/backbone-min.js">
</script><script type="text/javascript" src="js/backbone-forms.min.js">
</script><script type="text/javascript" src="js/backbone-forms-list.min.js">
</script><script type="text/javascript" src="js/backbone-forms-bootstrap.js">
</script><script type="text/javascript" src="js/backbone-marionette.min.js">
</script><script type="text/javascript" src="js/bootstrap.min.js">
</script><script type="text/javascript" src="js/marionnette-demo.js">
</script>
    </body>
</html>